<!doctype html>
<html ng-app="AudTwit">
<head>
     <% include ./head %>
     <% include ./footer %>
</head>
<body class="container">

    <header>
        <% include ./header %>
    </header>

    <main>
        <div class="jumbotron">
        <% if (!user) { %>
            <h1>Welcome to AudTwit</h1>
            <p>Please login to view twitter follower rubric.</p>
            <a href="/auth/twitter" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Twitter</a>
        <% } else { %>
            <div>
            <img src="<%= user.image %>"/>
            <h2>Hello, <%= user.name %>. Here are your followers.</h2>
            </div>
        <% } %>
        </div>
    </div>
    <% if (user) { %>
        <div ng-controller="FollowCtrl">
        <table style="width:100%">
        <tr>
            <th>Follower</th>
            <th>Twubric Score(out of 10)</th>
        </tr>
        <tr ng-repeat="follower in followers.users | unique: 'id'">
            <td><a href="/followers/id/{{follower.id}}">{{follower.screen_name}}</a></td>
            <td>{{follower.twubric.total}}</td>
        </tr>
        </table>
        <center  style="padding:10px"><button class="btn btn-primary" ng-disabled="moreButton" ng-click="loadMore()"> More </button></center>
        <small>** User has protected tweets from you.</small>
        </div>
        <% } %>
    </main>
    

</html>