<html>
<head>
     <% include ./head %>
</head>
<body class="container">

    <header>
        <% include ./header %>
    </header>

    <main>
        <div class="jumbotron">
        <% if (!user) { %>
            <h1>Welcome to AudTwit</h1>
            <p>Please login to view twitter follower rubric.</p>
            <a href="/auth/twitter" class="btn btn-info btn-lg" role="button"><span class="glyphicon glyphicon-user"></span> Sign in with Twitter</a>
        <% } else { %>
            <h2>Hello, <%= user.name %>.</h2>
            <img src="<%= user.image %>"/>
        <% } %>
        </div>
    </main>

</html>