<html>
<head>
     <% include ./head %>
</head>
<body class="container">

    <header>
        <% include ./header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Welcome to AudTwit</h1>
            <p>Please login to view twitter follower rubric.</p>
            <a class="btn btn-primary href="/auth/twitter">Login</a>
        </div>
    </main>

</html>